*{font-family: 'Wix Madefor Display', sans-serif;background: #d9c7da;}

.logo-alura{margin-left:2%;}

.areaInteractiva{
    float: left;
    margin: 20px 0 0 0;
    width: 70%;
    height: 400px;
    font-size: large;}

.entradaTexto{
    margin-left: 15%;
    background: none;
    width: 70%;
    height: 400px;
    font-size: 26px;
    border: none;
    outline: none;
    resize: none;}

.informacion{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin: 2% 5% .5em 22%
} 

.botones{margin: 0 5% 2% 20%;width: 100%;}

.botonEncriptar{
    width: 30%;
    padding: .5em 0 .5em 0;
    margin: .5em 1em;
    font-size: 24px;
    border-radius: 10px;
    background: #342333;
    font-weight: bold;
    color:#f8f6f9;
    box-shadow: 2px 2px 5px #000000;
    transition: 400ms;
    cursor: pointer;}

.botonEncriptar:hover{scale: 1.1;}

.botonDesencriptar{
    width: 30%;
    padding: .5em 0 .5em 0;
    margin: .5em 1em;
    font-size: 24px;
    border-radius: 10px;
    background: #f8f6f9;
    font-weight: bold;
    color:#342333;
    transition: 400ms;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;}

.botonDesencriptar:hover{scale: 1.1;}

.cajaSalida{
    position: absolute;
    top: 10%;
    right: 10%;
    width:20%;
    background: #f3eff4;
    padding-top: 20px;
    height: 600px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 2px 2px 5px #000000;}

.resultado{
    width: 85%;
    height: 60%;
    resize: none;
    resize:calc(salidaTexto); 
    background-color: #f3eff4;
    background-image: url("imagenes/Muneco.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 100%;
    border: none;
    border-bottom: 3em;
    outline: none;
    font-size: 20px;
    cursor:auto;
    }

.textoVacio{background:none;margin: 0 1em 0 1em;color:#342333;font-size: 20px;}
.textoVacio h1{background:none;margin-bottom: .5em;font-weight: bold;}
.textoVacio p{background:none;}



.botonCopiar{
    width: 50%;
    padding: .5em 0 .5em 0;
    margin: 2em 1em;
    font-size: 20px;
    border-radius: 10px;
    background: #bb9bbc;
    color: #342333;
    font-weight: bold;
    box-shadow: 2px 2px 5px #000000;
    transition: 400ms;
    cursor: pointer;}

.copiar{background: none;}

.botonCopiar:hover{scale: 1.1;}


@media screen and (max-width: 1140px) {
    .areaInteractiva{width: 100%;margin-bottom: 15%;}

    .entradaTexto{
        margin-left: 5%;
        min-width: 90%;
        max-width: 90%;
        min-height: 375px;
        max-height: 375px;}

    .informacion{margin-left: 15%;}

    .botones{margin-left: 15%;}

    .cajaSalida{
        position: relative;
        display: inline-block;
        width: 80%;
        height: 300px;
        margin: 0 0 0 20%;}

    .resultado{
        background-image: none;
        display: contents;
    }

    .textoVacio{
        margin-top: 4em;
    }
    
}
