*{font-family: 'Wix Madefor Display', sans-serif;background: #d9c7da;}

.logo-alura{margin-left:3%;margin-top: 3%;}

.areaInteractiva{
    float: left;
    margin: 20px 0 0 0;
    height: 400px;
    width: 90%;
    }

.entradaTexto{
    margin-left: 5%;
    background: none;
    width: 70%;
    height: 400px;
    font-size: 26px;
    /*border: none;
    outline: none;*/
    resize: none;
    text-align: justify;}

.informacion{
    font-size: 16px;
    font-weight: bold; 
    margin: 2% 5% .5em 10%;
} 

.botones{margin: 0 0 2% 10%;}

.botonEncriptar{
    width: 30%;
    padding: .5em 0 .5em 0;
    margin: .5em 1em;
    font-size: 24px;
    border-radius: 10px;
    background: #342333;
    font-weight: bold;
    color:#f8f6f9;
    box-shadow: 2px 2px 5px #000000;
    transition: 400ms;
    cursor: pointer;}

.botonEncriptar:hover{scale: 1.1;}

.botonDesencriptar{
    width: 30%;
    padding: .5em 0 .5em 0;
    margin: .5em 1em;
    font-size: 24px;
    border-radius: 10px;
    background: #f8f6f9;
    font-weight: bold;
    color:#342333;
    transition: 400ms;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;}

.botonDesencriptar:hover{scale: 1.1;}

.cajaSalida{
    position: absolute;
    top: 10%;
    right: 5%;
    width:25%;
    background: #f3eff4;
    padding-top: 20px;
    height: 600px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 2px 2px 5px #000000;}

.resultado{
    width: 90%;
    height: 60%;
    resize: none;
    resize:calc(salidaTexto); 
    background-color: #f3eff4;
    background-image: url("imagenes/Muneco.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 100%;
    border: none;
    border-bottom: 3em;
    outline: none;
    font-size: 20px;
    cursor:auto;
    }

.textoVacio{background:none;margin: 0 1em 0 1em;color:#342333;font-size: 20px;}
.textoVacio h1{background:none;margin-bottom: .5em;font-weight: bold;}
.textoVacio p{background:none;}



.botonCopiar{
    width: 50%;
    padding: .5em 0 .5em 0;
    
    font-size: 20px;
    border-radius: 10px;
    background: #d9c7da;
    color: #342333;
    font-weight: bold;
    box-shadow: 2px 2px 5px #000000;
    transition: 400ms;
    cursor: pointer;}

.copiar{background: none;}

.botonCopiar:hover{scale: 1.1;}



@media screen and (max-width: 1024px) {

    .logo-alura{scale: 2;margin-left: 10%;}

    .areaInteractiva{
        width: 100%;
        display: inline-block;
        margin: 50px 0 175px 0;
        
    }

    .entradaTexto{
        margin-left: 10%;
        height: 350px;
        width: 80%;
        font-size: 20px;
    }

    .botones{margin-left: 17%;}

    .botonEncriptar{
        scale: 1.2;
        margin-right: 2em;
        width: 30%;
    }

    .botonDesencriptar{
        scale: 1.2;
        margin-right: 2em;
        width: 30%;
    }

    .cajaSalida{
        position: relative;
        display: inline-block;
        width: 70%;
        height: 350px;
        margin-left:20%;
    }

    .resultado{
        background-image: none;
        display: contents;

    }

    .textoVacio{margin: 100px auto;}

    .botonCopiar{scale: 1.2;}
}
